body {
  font-family: 'Montserrat', sans-serif;
}


.navbar {
  transition: background-color 0.5s;
  background-color: rgb(56, 125, 221) !important; /* Set the navbar background color to black */
  height: 80px;
}

.navbar-brand {
  font-weight: 700;
  color: white !important; /* Ensure the brand text color is white */
}

.navbar-nav .nav-item .nav-link {
  font-weight: 400;
  position: relative;
  color: white !important; /* Ensure the nav-link text color is white */
  transition: background-color 0.3s; /* Add transition for smooth effect */
}

/* Styling for the "Home" nav link */
.navbar-nav .nav-item .nav-link.special-home {
  background-color: orange;
  width: 101%;
  height: 40px;
  bottom: -px;
  left: 0;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: orange; /* Change background color on hover */
}

.navbar-nav .nav-item .nav-link.active {
  color: #FFA500;
}

.navbar-nav .nav-item .nav-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FFA500;
  bottom: -5px;
  left: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.home {
  position: relative;
}

.orange-box {
  background-color: orange;
  color: white;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

#btt {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 99;
}

.about img, .gallery img {
  width: 100%;
  height: auto;
}

.owl-nav .owl-prev, .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
}

.owl-nav .owl-prev {
  left: 10px;
}

.owl-nav .owl-next {
  right: 10px;
}
/* CSS for footer */
.footer {
  background-color: black;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  color: white;
}
