/* Welcome Section Styles */
.home {
  background-image: url("images/hero-background.jpg"); /* Keep the background image */
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.home .welcome-title {
  font-size: 3em;
  margin-bottom: 20px;
}

/* Image Slider Styles */
.home .owl-carousel .item img {
  width: 100%;
  height: 50vh; /* Adjust the height as needed */
  object-fit: cover; /* Ensure the image covers the entire area */
}

.home .owl-carousel {
  display: block;
  position: relative;
  width: 100%;
}
/* ... Other styles ... */

/* Navigation Bar Styles */
nav {
    background-color: #000; /* Set background color to black */
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /* Make sure it stays on top of other elements */
}

nav .container {
    display: flex;
    justify-content: space-between; /* Align logo and links */
    align-items: center;
}

nav .nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav .nav-links li {
    margin-left: 20px;
}

nav .nav-links a {
    text-decoration: none;
    color: #fff; /* Set text color to white */
    font-weight: bold; /* Make the links bold */
    transition: color 0.3s ease;
}

nav .nav-links a:hover {
    color: #68BDCA; /* Or your desired hover color */
}

/* Styles for smaller screens (if needed): */
@media (max-width: 768px) {
    nav .nav-links ul {
        display: flex; /* Show the navigation links on small screens */
        flex-direction: column; /* Stack the links vertically */
        align-items: center; 
        width: 100%; 
        padding: 20px 0; 
        background-color: #000; 
        position: fixed; 
        top: 60px; 
        left: 0; 
        z-index: 100; 
    }

    nav .nav-links li {
      margin-left: 0; 
      margin-bottom: 10px; 
    }
}

/* ... Your existing CSS ... */

/* Logo Text Styles */
nav .logo-text {
  font-size: 2em;  /* Adjust the font size as needed */
  font-weight: bold; 
  color: #fff;  /* Set logo text color to white */
}


/* Navigation Overlay Styles */
.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 0; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 
}

.overlay-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.overlay-content a {
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay-content a:hover,
.overlay-content a:focus {
  color: #68BDCA;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.closebtn:hover {
  color: #68BDCA;
}

/* Styles for smooth scrolling */
.smoothScroll {
  cursor: pointer;
  text-decoration: none;
}
